* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-color: #2a282f;
  --foreground-light-color: #625F68;
  --foreground-gray-color: #a8a6ac;
  --background-action-button-color: #e4ecf7;
  --border-color: #c8c8c8;
  --button-color: #0f69e6;
  --button-hover-color: #1681fa;
}

body {
  font-family: Inter, sans-serif;
  color: var(--foreground-color);
  position: relative;
  min-height: calc(100vh - 56px);
}

header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1;
  padding: 0 3rem;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
}

header nav a {
  text-decoration: none;
  color: var(--foreground-color);
  min-height: 56px;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: transform 0.3s ease;
}

header nav a:hover {
  transform: scale(0.9);
  color: var(--foreground-light-color);
}

h2 {
  font-weight: 500;
}

textarea {
  border: none;
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-family: Inter, sans-serif;
  color: var(--foreground-color);
  padding: 4px;
}

textarea:focus {
  outline: none;
}

.thread-input__body {
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  min-height: 150px;
}

.add-new-thread {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  background-color: var(--button-color);
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-new-thread:hover {
  transform: scale(0.975);
  background-color: var(--button-hover-color);
}

button.up-voted {
  color: #229752;
  font-weight: 700;
}

button.down-voted {
  color: #eb5758;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 2rem;
  }

  header h1{
    font-size: 28px;
  }
}

@media screen and (max-width: 850px) {
  header {
    padding-left: 1.5rem ;
  } 
}

@media screen and (max-width: 650px) {
  header {
    padding: 0 1rem;
  }

  header h1{
    font-size: 24px;
  }

  header nav a {
    transition: none;
  }

  header nav a:hover {
    transform: none;
    color: var(--foreground-color);
  }
  
  .add-new-thread {
    bottom: 1rem;
    right: 1rem;
  }
}